:root {
    --cor-strong: #0284c7;        /* Azul oceano */
    --secondary: #06b6d4;      /* Ciano */
    --accent: #10b981;        /* Verde esmeralda */
    --cor-titolo: #25f7b1; 
    --background: #f0f9ff;   /* Azul muito claro */
    --background-night: #1c2129; 
    --surface: #ffffff;        /* Branco */
    --text-primary: #0f172a;  /* Azul muito escuro */
    --text-secondary: #475569; /* Azul-cinza */
    --color-border:  #5f708a;

    --cor-subtitolo: #26abee;
    --background-introducao: linear-gradient(to bottom, #10b9818f, #06b5d4b4);
}