header {
    align-items: center;
    background-color: var(--accent);
    color: var(--surface);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 40px;
    row-gap: 2px;
}

/*cabeçalho*/
.header__link {
    height: 100%;
    grid-area: 1 / 1 / 2 / 2;
}

.header__logo {
   height: 50px;
   width: 33px;
}

.header__titolo {
   font-size: 1.4em;
   margin-left: 60px;
   grid-area: 1 / 1 / 2 / 2;;
}


/*botoes*/
.header__grid-botao {
    display: flex;
    justify-content: flex-start;
    grid-area: 2 / 1 / 3 / 2;
}

.header__botao {
    all: unset;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    font-size: 1.1em;
    flex: 0 1 40px;
    margin: 10px;
}

.header__botao:hover {
    color: var(--text-secondary);
    border-color: var(--color-border);
}

.header__botao.inicio {
    margin-left: 60px;
}

/*barra de pesquisa*/
#header__input {
    justify-self: center;
    grid-area: 2 / 2 / 3 / 3;
    width: 35%;
}

/*Ligado e desligado - modo escuro*/
.header__switch {
    justify-self: end;
    margin-right: 15px;
    grid-area: 1 / 2 / 2 / 3;
}

.switch__checkbox{ /*tirando o checkbox original, o span vai no lugar*/
    opacity: 0;
    height: 0;
    width: 0;
}

.header__switch {
    position: relative;
    display: inline-block;
    height: 25px;
    width: 50px;
}

.switch__bolinha {
    border-radius: 20px;
    background-color: #758bac; /*cor desligado*/
    cursor: pointer;
    position: absolute;
    transition: .3s ease-in-out;
    bottom: 0;
    top: 0; /*pra ocupar todo o header__switch*/
    left: 0; 
    right: 0; 
}

.switch__bolinha::before {
    border-radius: 50%;
    background-color: white;
    content: ""; /*é obrigatorio quando uso before e after*/
    position: absolute;
    height: 94%;
    width: 45%;
    top: 1px;
    transition: .3s ease-in-out;
}

input:checked + .switch__bolinha::before{ /*Quando o input estiver marcado*/
    background-color: var(--accent);
    transform: translateX(26px);
}
