.section-contener {
    box-shadow:-6px 0 6px -4px rgba(0, 0, 0, 0.2), 6px 0 6px -4px rgba(0, 0, 0, 0.2);  
    min-width: 340px;
    max-width: 70%;
    position: relative;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.199);
} 

.section-contener__texto-completo h1 {
    font-size: 1.5em;
}

.section-contener__texto-completo h2 {
    font-size: 1.3em;
}

.section-contener__texto-completo {
    width: 90%;
    margin: 2em auto;
}

.section-contener__texto-completo section {
    margin: 1.5em 0;
}

.section-contener__texto-completo strong {
    color: var(--cor-strong);
}

.section-contener__texto-completo h1 {
    color: var(--cor-titolo);
}

.section-contener__texto-completo h2, h3 {
    color: var(--cor-subtitolo);
}

.section-contener__texto-completo ul {
   margin-left: 19px;
}

.caixa-destaque {
    background-color:  var(--cor-caixa-destaque);
    border-radius: 5px;
}

.caixa-destaque p{
    
    padding: 15px;
}

.linha {
    border-bottom: 3px solid var(--cor-titolo);
    margin: 1em auto;
    height: 2px;
    width: 100%;
}

/*Introduçao*/
#texto-completo__section-introducao {
    border-radius: 10px;
    background: var(--background-introducao);
    color: white;
    padding: 10px;
}

.section-introducao__titolo {
    text-align: center;
}

.section-introducao__linha {
    width: 95%;
}


@media (max-width: 913px) {
    .section-contener {
        min-width: 100%;
    }
}