.main__texto-completo section {
    min-width: 340px;
    max-width: 70%;
}


#texto-completo__section-introducao {
    background-image: linear-gradient(to bottom, var(--accent), var(--secondary));
}