.main__menu {
    background: var(--background-menu-lateral);
    color: white;
    overflow-y: auto;
    opacity: 0;
    width: 0;
}

.main__menu.ativo {
    opacity: 1;
    width: 100%;
}

.menu__lista--item {
  margin: 5px 10px;
  font-size: 1.3em;
}

@media (max-width: 911px) {
    .main__menu {
        background-color: black;
        position: absolute;
    }

    .main__menu.ativo {
        opacity: 1;
        width: 80%;
    }

    .menu__lista--item {
        line-height: 1.4em;
        font-size: 1em;
    }
}
