.main__menu {
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    overflow-y: auto;
    opacity: 0;
    width: 0;
}

.main__menu.ativo {
    opacity: 1;
    width: 95%;
}

@media (max-width: 767px) {
    .main__menu {
      
        position: absolute;
    }

    .main__menu.ativo {
        opacity: 1;
        width: 80%;
    }
}

/*
 no mobile vai ocupar 100% nao vai ficar no lado
 e vai ter um fundo transparente, vai ter que usar position com flex.

 -- por tambem um negocio pra remover quando começar a descer.
*/